* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #dadada;
    display: flex;
    justify-content: center;
    align-items: center ;
    
}

.wapper {
    width: 1180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-items {
    width: 264px;
    height: 200px;
    margin: 10px 0;
    border-radius: 12px;
    overflow: hidden;
}

.img-items img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    object-position: center;
    object-fit: cover;
}

.img-items:hover img {
    transform: scale(1.2);
}
